<% include header%>
    <section id="cardPanel">
      <article class="container">
           <h3 class="text-center">Books love by us</h3>
      </article>
      <article class="container">  
          <div class="row">
          <%if(books) {%>
            <% books.forEach(function(book){%>
            <div class="col-md-4">
                <div class="card ">
                    <div class="card-header bg-dark text-white"><%=book.title%></div>
                      <div class="card-content">
                          <div class="row imgbox" >
                              <div class="col-md-6 contentimg">
                                <img src="<%=book.coverpath%>" alt="" class="img-responsive">
                              </div>
                              <div class="col-md-6">
                                  <p><%= book.desc.substring(0,90)%> ...</p>
                            </div>
                        </div>
                        <div class="row authorbox">
                              <div class="col-md-12 contentimg">
                                 <h6>Author: <%=book.author%></h6>
                              </div>
                              <div class="col-md-12">
                                 <h6>Rating: <%=book.rating %>/5</h6>
                            </div>
                            <div class="col-md-12">
                                 <button class="btn btn-dark">Read More</button>
                            </div>
                        </div>
                    </div>   
                </div>
             </div>
             <%})} else{%>
                <h3>No books find <a href="/books">Add new book</a></h3>
                <%}%>
                
          </div>
      </article>
    </section>
<%include footer%>

      